@media only screen and (max-width: 1024px) {
    .uslugeWrapper {
      width: 95vw;
      left: 2.5vw;
    }
    .usluga {
      padding: 1rem;
    }
    .usluga img {
      width: 58px;
      height: 58px;
      margin-top: 2.75rem;
    }
    .usluga h3 {
      margin-top: 1.25rem;
    }
    .usluga p {
      margin-top: 1rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .uslugeWrapper {
      width: 95vw;
      left: 2.5vw;
      flex-wrap: wrap;
    }
    .usluga {
      width: calc(50% - 2rem);
    }
    .usluga:nth-child(even) {
      margin-right: 0;
    }
    .usluga:nth-child(odd) {
      margin-left: 0;
    }
  }  