.usluge {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.usluge-title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.usluge-title h1 {
  font-size: 64px;
  color: black;
}
.usluge-title p {
  color: black;
  font-size: 20px;
}
.usluge-cards {
  width: 90%;
  height: 72%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.usluga-card {
  width: 22%;
  height: 100%;
  border-radius: 50px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.usluga-card img {
  width: 60px;
  height: 60px;
  margin-top: 80px;
}
.usluge_icons_text {
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.usluge_icons_text h1 {
  font-size: 32px;
  color: black;
  align-self: center;
  margin-top: 30px;
}
.usluge_icons_text p {
  font-size: 20px;
  color: black;
  align-self: flex-start;
  text-align: center;
  margin-top: 30px;
}
