@media only screen and (max-width:1024px){
    body{
        margin: 0;
        padding: 0;
    }
   .o-nama{
    width: 95%;
    height: 40vh;
   }
   .o-nama-img{
    width: 30%;
   }
   .o-nama-text{
    width: 68%;
   }
   .o-nama-title h1 {
    font-size: 32px;
  }
  .o-nama-paragraph p {
    font-size: 18px;
    color: black;
  }
  .card h1 {
    font-size: 18px;
    color: black;
  }
  .card h2 {
    font-size: 14px;
    color: black;
  }
  .card{
    justify-content: center;
  }
.card-txt{
    height: 40%;
    padding-top: 0;
    justify-content: flex-end;
}
}
@media only screen and (max-width:768px){
    .o-nama{
        width: 100%;
        height: 70vh;
    }
   
    .o-nama-wrapper{
        flex-direction: column;
    }
    .o-nama-img{
     width: 95%;
     height: 30%;
     border-radius: 20px;
    }
    .o-nama-text{
        width: 95%;
        height: 65%;
    }
    .o-nama-title h1 {
        font-size: 24px;
      }
      .o-nama-paragraph p {
        font-size: 14px;
        color: black;
      }
      .card h1 {
        font-size: 14px;
        color: black;
      }
      .card h2 {
        font-size: 12px;
        color: black;
      }
      .cards{
        height: 50%;
        align-items: flex-end;
      }
      .card img{
        width: 21.05px;
height: 20px;
      }
}