.o-nama {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.o-nama-wrapper {
  width: 90%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.o-nama-img {
  width: 25%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.o-nama-text {
  width: 70%;
  height: 100%;
  border-radius: 50px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.o-nama-title h1 {
  font-size: 48px;
}

.o-nama-paragraph {
  width: 75%;
  height: 20%;
}

.o-nama-paragraph p {
  font-size: 24px;
  color: black;
}

.cards {
  width: 70%;
  height: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 29%;
  height: 73%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-txt {
  width: 80%;
  height: 40%;
  text-align: center;
  color: white;
  padding-top: 50px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card h1 {
  font-size: 24px;
  color: black;
}

.card h2 {
  font-size: 20px;
  color: black;
}

#card-1 {
  background-image: url(../sources/icons/shape-1.svg);
}

#card-2 {
  background-image: url(../sources/icons/shape-2.svg);
}

#card-3 {
  background-image: url(../sources/icons/shape-3.svg);
}
