.kontakt {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kontakt .heading {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.45px;
  text-align: center;
  margin: 30px 0 60px 0;
}

.kontakt .card-wrapper {
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.kontakt .card {
  background: #f7f7f7;
  width: 300px;
  height: 400px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kontakt .card svg {
  margin-top: 60px;
}

.kontakt .card .card-heading {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  text-align: center;
  margin-top: 24px;
}

.kontakt .card .card-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  line-height: 24.2px;
  text-align: center;
  margin-top: 28px;
}

.kontakt .wrapper {
  width: 80vw;
  height: 70vh;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.kontakt .wrapper img {
  height: 100%;
  width: 35%;
  border-radius: 50px;
  object-fit: cover;
}

.kontakt .contact-card {
  width: 60%;
  height: 100%;
  border-radius: 50px;
  background: #146140;
}

.kontakt .contact-card .card-heading {
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  text-align: left;
  color: #f7f7f7;
  width: 60%;
  margin: 48px 0 0 48px;
}

.kontakt .contact-card .card-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 200;
  line-height: 29.05px;
  text-align: left;
  color: #f7f7f7;
  width: 50%;
  margin: 28px 0 28px 48px;
}

.kontakt .contact-card .contact-button {
  border: none;
  background: transparent;
  cursor: pointer;
  left: calc(100% - 320px);
  top: calc(0% - 51px);
}
