.footer {
  background-color: #146140;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-parent {
  width: 100vw;
  min-height: 250px;
  margin: 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  padding: 0 50px;
}

.footer a,
p {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.footer h4 {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.links,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socials {
  margin-top: 13px;
}

.socials a {
  margin-right: 10px;
}

.social-logo {
  height: 25px;
  width: 25px;
}

.links div,
.contact div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.informations h4 {
  margin-bottom: 20px;
}

.links h4,
.contact h4 {
  margin-top: -2px;
  margin-bottom: 22px;
  font-size: 24px;
}

.left {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 70px;
}

.links,
.contact {
  width: 160px;
}

.informations div img {
  margin: 20px 0 5px;
}

.informations p {
  width: 290px;
}

.copyright {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.copyright p {
  text-align: center;
  font-size: 100%;
}